/*Stuff for the settings only basically*/
body {
    .settings {
        display: flex;
        flex-direction: column;

        width: 20%;

        margin: 0 auto;
        margin-top: 20px;

        .setting {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            width: 100%;
            margin-top: 3px;

            .name {
                font-family: sans-serif;
                font-weight: bold;
            }

            input {
                width: 30%;
            }

            .info {
                font-family: sans-serif;
                font-size: 12;

                width: 30%;
            }
        }
    }
}
