<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Fridge</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
    </head>
    <body>
        <div id="plot-container">
            <canvas id="plot"></canvas>
            <script src="{{ url_for('static', filename='index.js') }}"></script>
        </div>
    </body>
</html>
